<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="FirstProjectTests" parallel="true">
<!--    <test name="Chrome Desktop Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="resolution" value="1920x1080"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.TabsAndSubtabsTest"/>
        </classes>
    </test>

    <test name="Chrome Mobile Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="resolution" value="375x667"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.TabsAndSubtabsTest"/>
        </classes>
    </test>
    -->
<!--    <test name="Firefox Desktop Test" parallel="tests" thread-count="4">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        &lt;!&ndash; can write mobile or smth or make enum with device - resolution &ndash;&gt;-->
<!--        <parameter name="resolution" value="1920x1080"/>-->
<!--        <classes>-->
<!--            <class name="ge.tbc.testautomation.tests.SearchTest"/>-->
<!--            <class name="ge.tbc.testautomation.tests.TabsAndSubtabsTest"/>-->
<!--            <class name="ge.tbc.testautomation.tests.LocationFilterScenarioTest"/>-->
<!--            <class name="ge.tbc.testautomation.tests.OffersFilterTest"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="Firefox Mobile Test" parallel="tests" thread-count="2">
        <parameter name="browser" value="firefox"/>
        <parameter name="resolution" value="375x667"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.LocationFilterScenarioTest"/>
            <class name="ge.tbc.testautomation.tests.SearchTest"/>
            <class name="ge.tbc.testautomation.tests.TabsAndSubtabsTest"/>
            <class name="ge.tbc.testautomation.tests.OffersFilterTest"/>
            <class name="ge.tbc.testautomation.tests.HamburgerMenuTest"/>
        </classes>
    </test>
</suite>